Compiling dependency failed

I tried adding jose as dependency to an existing application. I added the following line 

{jose, {git, "git://github.com/potatosalad/erlang-jose.git", {tag, "1.7.3"}}},

to rebar.config. I am using **rebar3 **for building.
When i try to compile , the following errors occur

_undefined callback function decrypt_private/3 (behaviour 'jose_jwk_use_enc')

undefined callback function derive_key/1 (behaviour 'jose_jwk_use_enc')

undefined callback function derive_key/1 (behaviour 'jose_jwk_use_enc')
_
the file in which the error appears is " jose/src/jose_jwk_kty_ec.erl "
What is the problem here?How can I fix this?

Do you know which version of OTP you are using?  Running the following command should return your current OTP version:

```bash
cat $(erl -eval 'io:format("~s~n", [filename:join([code:root_dir(), "releases", erlang:system_info(otp_release), "OTP_VERSION"])]), halt().' -noshell)
```

It was OTP 17, I tried it in 18 and now it works. Anyway, is there a way to make it work on 17 also? Is this related to "crypto_fallback" ? 

> Is this related to "crypto_fallback" ?

It's actually related to the optional callbacks feature which is only available in OTP 18 and newer.

> is there a way to make it work on 17 also?

rebar3 _should_ detect that you're running OTP 17 and degrade gracefully, but it looks like it's not working correctly.  Here is where the detection happens: https://github.com/potatosalad/erlang-jose/blob/master/rebar.config#L4

> ./rebar3 ct fails with the above mentioned errors.

Running `rebar3 ct` may also fail because [erlang.mk](https://github.com/ninenines/erlang.mk) is actually used for development/testing.  So running `make tests` should work as expected.

> Also, can you give some working examples for jwe? what i want is to encrypt and decrypt using private keys?

What do you mean by "private keys"?  There are a few different meanings that I'll describe below and I'd be happy to provide a specific example if you could clarify your meaning by deciding which of the following algorithm groups does what you want to do.

#### Single Asymmetric Public/Private Key Pair

The `RSA` key type is the only one that supports this group of algorithms.  The public key is used for encryption and the private key is used for decryption.

Supported algorithms:

 * `RSA1_5`
 * `RSA-OAEP`
 * `RSA-OAEP-256`

#### Two Asymmetric Public/Private Key Pairs with Key Agreement

The `EC` and `OKP` key types are the only two that support this group of algorithms.  The two key pairs must have the same key type and curve type.  An example would involve Alice using her private key and Bob's public key to encrypt a message intended for Bob.  Bob would then decrypt the message using Alice's public key and Bob's private key.

Supported `EC` curves:

 * `P-256`
 * `P-384`
 * `P-521`

Supported `OKP` curves:

 * `X25519`
 * `X448`

Supported algorithms:

 * `ECDH-ES`
 * `ECDH-ES+A128KW`
 * `ECDH-ES+A192KW`
 * `ECDH-ES+A256KW`

#### Symmetric Password Based Key Derivation

The `oct` key type must be used which holds a "password" that is used to generate a symmetric key used for encryption and decryption.

Supported algorithms:

 * `PBES2-HS256+A128KW`
 * `PBES2-HS384+A192KW`
 * `PBES2-HS512+A256KW`

#### Symmetric Key Wrap

The `oct` key type must be used which holds a symmetric secret key that is "wrapped" by the specified algorithm and used for encryption and decryption.

Supported algorithms:

 * `A128GCMKW`
 * `A192GCMKW`
 * `A256GCMKW`
 * `A128KW`
 * `A192KW`
 * `A256KW`

#### Symmetric Direct Key

The `oct` key type must be used which holds the actual symmetric secret key.  The key is left untouched and must be fully known by both parties.

Supported algorithms:

 * `dir`

#### Example using `RSA1_5`

_Note:_ You will need to have [cutkey](https://github.com/potatosalad/cutkey) installed in order to generate RSA keys.

You can generate a JWK based on the selected JWE `alg` and `enc` fields you have chosen, for example:

```erlang
SecretJWK = jose_jwe:generate_key(#{ <<"alg">> => <<"RSA1_5">>, <<"enc">> => <<"A128GCM">> }).
PublicJWK = jose_jwk:to_public(SecretJWK).
Message   = <<"message">>.
Encrypted = element(2, jose_jwe:compact(jose_jwk:block_encrypt(Message, PublicJWK))).
Message =:= element(1, jose_jwk:block_decrypt(Encrypted, SecretJWK)).
```

There are also examples provided (they're in Elixir instead of Erlang) for every algorithm supported by JWE in the documentation here: https://hexdocs.pm/jose/JOSE.JWE.html

Hi @potatosalad ,

Thanks for the great reply. 
What I was trying to do was decrypt the below  [Java jose4j](https://bitbucket.org/b_c/jose4j/wiki/Home) Hello world example of jwe using erlang after encrypting the same with java

```java
//key length 128 bit
//Encrypt using java imaplemation of jose using Java jose4j Key key = new AesKey("this_is_secret__");
 JsonWebEncryption jwe = new JsonWebEncryption();
 jwe.setPayload("Hello World!");
 jwe.setAlgorithmHeaderValue(KeyManagementAlgorithmIdentifiers.A128KW);
 jwe.setEncryptionMethodHeaderParameter(ContentEncryptionAlgorithmIdentifiers.AES_128_CBC_HMAC_SHA_256);
 jwe.setKey(key);
 String serializedJwe = jwe.getCompactSerialization();
 System.out.println("Serialized Encrypted JWE: " + serializedJwe);

//TODO: Decrypt the above message using erlang-jose where the above private key are shared
 jwe = new JsonWebEncryption();
 jwe.setKey(key);
 jwe.setCompactSerialization(serializedJwe);
 System.out.println("Payload: " + jwe.getPayload());
```

I think for above decryption I have to use "dir" algorithm but not sure how. If you could help it would be great.

Thanks again.

Hey @pavananms,

So with JWE, there are two algorithms that have to be selected in order to make encryption and decryption possible.  The first is the "Key Management Mode" which determines how the "Content Encryption Key" gets derived or generated.  The second is the "Encryption Algorithm" which determines how the "Content Encryption Key" gets used to actually encrypt or decrypt the content.  [RFC 7516 Section 2 "Terminology"](https://tools.ietf.org/html/rfc7516#section-2) has more details about all of that.

In the Java example you provided, we can see the two algorithms being selected, first the "Key Management Mode":

```java
jwe.setAlgorithmHeaderValue(KeyManagementAlgorithmIdentifiers.A128KW);
```

It looks like we're using [`A128KW` from RFC 7518](https://tools.ietf.org/html/rfc7518#section-4.4) which is short for "AES Key Wrap with default initial value using 128-bit key".

The second algorithm setting, "Encryption Algorithm", is on the next line:

```java
jwe.setEncryptionMethodHeaderParameter(ContentEncryptionAlgorithmIdentifiers.AES_128_CBC_HMAC_SHA_256);
```

This is the [`A128CBC-HS256` from RFC 7518](https://tools.ietf.org/html/rfc7518#section-5.1) which is short for "AES_128_CBC_HMAC_SHA_256 authenticated encryption algorithm, as defined in Section [5.2.3](https://tools.ietf.org/html/rfc7518#section-5.2.3)".

So, in order to decrypt the message, the same "Key Management Mode" and "Encryption Algorithm" must be specified:

```erlang
JWK = jose_jwk:from_oct(<<"this_is_secret__">>).
JWE = jose_jwe:from_map(#{ <<"alg">> => <<"A128KW">>, <<"enc">> => <<"A128CBC-HS256">> }).
% EncryptedMessage is a binary term based on the output of the Java program.
DecryptedMessage = element(1, jose_jwk:block_decrypt(EncryptedMessage, JWK)).
```

Here is an end-to-end example with comments:

```erlang
% Let's first define our decrypted message variable.
DecryptedMessage = <<"Hello World!">>.

% Let's generate a new shared random key based on the algorithms
% we want to use for encryption/decryption.
JWK = jose_jwe:generate_key(#{ <<"alg">> => <<"A128KW">>, <<"enc">> => <<"A128CBC-HS256">> }).

% To share this key with someone else, you can use jose_jwk:to_binary/1 or jose_jwk:to_oct/1
element(2, jose_jwk:to_binary(JWK)).
%% Returned: <<"{\"alg\":\"A128KW\",\"enc\":\"A128CBC-HS256\",\"k\":\"KmbCVSRkHELox32oQ8CelA\",\"kty\":\"oct\",\"use\":\"enc\"}">>
element(2, jose_jwk:to_oct(JWK)).
%% Returned: <<42,102,194,85,36,100,28,66,232,199,125,168,67,192,158,148>>

% If you notice the output of jose_jwk:to_binary/1, the algorithms for encryption use
% are specified on the key itself, so we don't have to specify the JWE if we don't want to.
EncryptedMessage = element(2, jose_jwe:compact(jose_jwk:block_encrypt(DecryptedMessage, JWK))).
%% Returned: <<"eyJhbGciOiJBMTI4S1ciLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0.LgfugP-76pI4zHq9D-BbQAQNPo-7FGtKk9k6JZKFlz0AXi1KYOL1hA.gFMROE4DqWM-E3ehtRjOZA.MiytQoHPeO63smBRUic_qg.yNJkrMX2ty02HRv2gewvtA">>

% Let's make sure we can decrypt the message, too:
DecryptedMessage =:= element(1, jose_jwk:block_decrypt(EncryptedMessage, JWK)).
%% Returned: true
```

> I think for above decryption I have to use "dir" algorithm but not sure how.

As I mentioned above, you're actually looking to use the `A128KW` algorithm, but here's how you might use the `dir` algorithm:

```erlang
% Let's first define our decrypted message variable.
DecryptedMessage = <<"Hello World!">>.

% A128CBC-HS256 requires a 256-bit (or 32-byte) key to work correctly.
% Other key sizes will throw an exception.
JWK = jose_jwk:from_oct(<<"this_is_my_really_long_secret___">>).
JWE = jose_jwe:from_map(#{ <<"alg">> => <<"dir">>, <<"enc">> => <<"A128CBC-HS256">> }).

% Let's encrypt our message.
% Note: the output will be different each time because a new IV (Initialization Vector)
%       will be generated each time we encrypt.
EncryptedMessage = element(2, jose_jwe:compact(jose_jwk:block_encrypt(DecryptedMessage, JWE, JWK))).
%% Returned: <<"eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..ERBFqSnSv7215ad1nGhFaw.RHrbj7adZVsQ-pyOE-5OAQ.cpXHMm9-LZqzPniQ9_ILWg">>

% Let's make sure we can decrypt the message, too:
DecryptedMessage =:= element(1, jose_jwk:block_decrypt(EncryptedMessage, JWK)).
%% Returned: true
```

@pavananms Did you have any other questions or can this issue be closed?

Oh, sorry, Forgot to thank you. I think we have enough information. I haven't tried to implement this since. I will get back to you if some issues arise. Thanks again.