Poison encoding/decoding

Hey @potatosalad!

I've been testing your encoding/decoding with Poison and am running into some issues. I have this simple token (which is valid according to jwt.io and was generate with erlang-jose. It is an HS256 with "secret" as its key):

```elixir
token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiSm9obiBEb2UifQ.xuEv8qrfXu424LZk8bVgr9MQJUIrp1rHcPyZw_KSsds"
```

But when I try this on iex:

```elixir
JOSE.json_module Poison
JOSE.JWK.verify token, "secret"
```

I get a nasty Poison error:

```elixir
** (Poison.SyntaxError) Unexpected token: s
    (poison) lib/poison/parser.ex:56: Poison.Parser.parse!/2
    (poison) lib/poison.ex:83: Poison.decode!/2
      (jose) src/jose_jwk.erl:120: :jose_jwk.from_binary/1
      (jose) src/jose_jwk.erl:429: :jose_jwk.verify/2
      (jose) lib/jose/jwk.ex:141: JOSE.JWK.verify/2
```

I verified that I can decode both base64url decoded parts of the token using `:jose.decode(binary)`. 

Hey @cs-victor-nascimento,

`JOSE.JWK` will currently attempt to decode your `"secret"` binary as if it's JSON.  It assumes that you're providing it a key in the [JSON Web Key (JWK) Format from RFC 7517 Section 4](https://tools.ietf.org/html/rfc7517#section-4) (the `"kty"` of `"oct"` is literally just "a series of octets" that can be treated differently based on the application, see [RFC 7518 Section 7.4.2](https://tools.ietf.org/html/rfc7518#section-7.4.2) and [Section 6.4](https://tools.ietf.org/html/rfc7518#section-6.4)).

So, the following will work properly:

```elixir
token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiSm9obiBEb2UifQ.xuEv8qrfXu424LZk8bVgr9MQJUIrp1rHcPyZw_KSsds"

JOSE.json_module Poison

# Using a map
JOSE.JWK.verify token, %{ "kty" => "oct", "k" => :base64url.encode("secret") }

  {true, "{\"name\":\"John Doe\"}",
   %JOSE.JWS{alg: {:jose_jws_alg_hmac, {:jose_jws_alg_hmac, :sha256}},
    b64: :undefined, fields: %{"typ" => "JWT"}, sph: :undefined}}

# Using a binary
JOSE.JWK.verify token, "{\"kty\":\"oct\",\"k\":\"c2VjcmV0\"}"

  {true, "{\"name\":\"John Doe\"}",
   %JOSE.JWS{alg: {:jose_jws_alg_hmac, {:jose_jws_alg_hmac, :sha256}},
    b64: :undefined, fields: %{"typ" => "JWT"}, sph: :undefined}}

# Using a JOSE.JWK struct
jwk = JOSE.JWK.from "{\"kty\":\"oct\",\"k\":\"c2VjcmV0\"}"

  %JOSE.JWK{fields: %{}, keys: :undefined, kty: {:jose_jwk_kty_hmac, "secret"}}

JOSE.JWK.verify token, jwk

  {true, "{\"name\":\"John Doe\"}",
   %JOSE.JWS{alg: {:jose_jws_alg_hmac, {:jose_jws_alg_hmac, :sha256}},
    b64: :undefined, fields: %{"typ" => "JWT"}, sph: :undefined}}

# You can also use JOSE.JWT if you want the JWT decoded for you:
JOSE.JWT.verify jwk, token

  {true, %JOSE.JWT{fields: %{"name" => "John Doe"}},
   %JOSE.JWS{alg: {:jose_jws_alg_hmac, {:jose_jws_alg_hmac, :sha256}},
    b64: :undefined, fields: %{"typ" => "JWT"}, sph: :undefined}}
```

So really, the behavior is coming from the [`jose_jwk:from/1`](https://github.com/potatosalad/erlang-jose/blob/master/src/jose_jwk.erl#L101-L108) function (which calls [`jose_jwk:from_binary/1`](https://github.com/potatosalad/erlang-jose/blob/master/src/jose_jwk.erl#L119-L122) and/or [`jose_jwk:from_map/1`](https://github.com/potatosalad/erlang-jose/blob/master/src/jose_jwk.erl#L161-L182)).

I'm not sure whether any sort of automatic conversion to the `"oct"` key type makes sense or not (for the scope of this project).  Here are some ideas for processing binaries, though:

1. Attempt to read binary as JSON, but if it fails, convert it to an `"oct"` key.

  _Problem:_ Corrupted JSON wouldn't raise an error properly.

2. Detect whether the first non-whitespace character is `{` and then attempt to process it as JSON.

  _Problem:_ Randomly generated byte sequences can easily start with `{`.

3. Combination of 1 + 2.

  _Problem:_ May still cause unexpected behavior (corrupted JSON not raising an error).

4. Have something like `JOSE.JWK.from_oct/1` and `JOSE.JWK.to_oct/1` which are the siblings of `JOSE.JWK.from_pem/1` and `JOSE.JWK.to_pem/1` for `"RSA"` and `"EC"` keys.

  _Problem:_ Extra step for users, although it makes the number of steps the same as for `"RSA"` and `"EC"` keys.

Currently, I'm most in favor of option 4.  If we went that route, an improved README and examples (just created #6 to remind us to have examples for all algorithms) could fairly quickly help people new to the library understand how to manage their keys.  Also, I've never actually used ex_doc before, but having some API documentation in that form would also help a ton (see #7).  What do you think?

You are right. I think there is no need to implement the oct type. The map
is fine. I can't test right now but will do so in a couple of hours and
close this issue.

The documentation will indeed be very helpful. ExDoc is really nice and we
can doctest most of it. Besides it will be available from iex.

Also samples will help greatly. All the different parameters are hard to
grasp from looking only in the code or the specs.

Currently we are refactoring Joken to make it more user friendly. After
that I think I can help with Elixir documentation.

Thanks!
Em 18/08/2015 9:48 AM, "Andrew Bennett" <notifications@github.com> escreveu:

> Hey @cs-victor-nascimento <https://github.com/cs-victor-nascimento>,
>
> JOSE.JWK will currently attempt to decode your "secret" binary as if it's
> JSON. It assumes that you're providing it a key in the JSON Web Key (JWK)
> Format from RFC 7517 Section 4
> <https://tools.ietf.org/html/rfc7517#section-4> (the "kty" of "oct" is
> literally just "a series of octets" that can be treated differently based
> on the application, see RFC 7518 Section 7.4.2
> <https://tools.ietf.org/html/rfc7518#section-7.4.2> and Section 6.4
> <https://tools.ietf.org/html/rfc7518#section-6.4>).
>
> So, the following will work properly:
>
> token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiSm9obiBEb2UifQ.xuEv8qrfXu424LZk8bVgr9MQJUIrp1rHcPyZw_KSsds"
> JOSE.json_module Poison
> # Using a mapJOSE.JWK.verify token, %{ "kty" => "oct", "k" => :base64url.encode("secret") }
>
>   {true, "{\"name\":\"John Doe\"}",
>    %JOSE.JWS{alg: {:jose_jws_alg_hmac, {:jose_jws_alg_hmac, :sha256}},
>     b64: :undefined, fields: %{"typ" => "JWT"}, sph: :undefined}}
> # Using a binaryJOSE.JWK.verify token, "{\"kty\":\"oct\",\"k\":\"c2VjcmV0\"}"
>
>   {true, "{\"name\":\"John Doe\"}",
>    %JOSE.JWS{alg: {:jose_jws_alg_hmac, {:jose_jws_alg_hmac, :sha256}},
>     b64: :undefined, fields: %{"typ" => "JWT"}, sph: :undefined}}
> # Using a JOSE.JWK struct
> jwk = JOSE.JWK.from "{\"kty\":\"oct\",\"k\":\"c2VjcmV0\"}"
>
>   %JOSE.JWK{fields: %{}, keys: :undefined, kty: {:jose_jwk_kty_hmac, "secret"}}
> JOSE.JWK.verify token, jwk
>
>   {true, "{\"name\":\"John Doe\"}",
>    %JOSE.JWS{alg: {:jose_jws_alg_hmac, {:jose_jws_alg_hmac, :sha256}},
>     b64: :undefined, fields: %{"typ" => "JWT"}, sph: :undefined}}
> # You can also use JOSE.JWT if you want the JWT decoded for you:JOSE.JWT.verify jwk, token
>
>   {true, %JOSE.JWT{fields: %{"name" => "John Doe"}},
>    %JOSE.JWS{alg: {:jose_jws_alg_hmac, {:jose_jws_alg_hmac, :sha256}},
>     b64: :undefined, fields: %{"typ" => "JWT"}, sph: :undefined}}
>
> So really, the behavior is coming from the jose_jwk:from/1
> <https://github.com/potatosalad/erlang-jose/blob/master/src/jose_jwk.erl#L101-L108>
> function (which calls jose_jwk:from_binary/1
> <https://github.com/potatosalad/erlang-jose/blob/master/src/jose_jwk.erl#L119-L122>
> and/or jose_jwk:from_map/1
> <https://github.com/potatosalad/erlang-jose/blob/master/src/jose_jwk.erl#L161-L182>
> ).
>
> I'm not sure whether any sort of automatic conversion to the "oct" key
> type makes sense or not (for the scope of this project). Here are some
> ideas for processing binaries, though:
>
>    1.
>
>    Attempt to read binary as JSON, but if it fails, convert it to an "oct"
>    key.
>
>    *Problem:* Corrupted JSON wouldn't raise an error properly.
>    2.
>
>    Detect whether the first non-whitespace character is { and then
>    attempt to process it as JSON.
>
>    *Problem:* Randomly generated byte sequences can easily start with {.
>    3.
>
>    Combination of 1 + 2.
>
>    *Problem:* May still cause unexpected behavior (corrupted JSON not
>    raising an error).
>    4.
>
>    Have something like JOSE.JWK.from_oct/1 and JOSE.JWK.to_oct/1 which
>    are the siblings of JOSE.JWK.from_pem/1 and JOSE.JWK.to_pem/1 for "RSA"
>    and "EC" keys.
>
>    *Problem:* Extra step for users, although it makes the number of steps
>    the same as for "RSA" and "EC" keys.
>
> Currently, I'm most in favor of option 4. If we went that route, an
> improved README and examples (just created #6
> <https://github.com/potatosalad/erlang-jose/issues/6> to remind us to
> have examples for all algorithms) could fairly quickly help people new to
> the library understand how to manage their keys. Also, I've never actually
> used ex_doc before, but having some API documentation in that form would
> also help a ton (see #7
> <https://github.com/potatosalad/erlang-jose/issues/7>). What do you think?
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/potatosalad/erlang-jose/issues/5#issuecomment-132196011>
> .
>


It worked flawslessly with the map. Thanks again for your support.